
.Text {
    text-align: center;
    border: center;
    border: 3px solid black;
}
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
img {
  width: 100%;
  border: 3px solid black;
  padding: 2  0px;
}
@media only screen and (max-width: 600px) {
  body {
      background-color: rgb(230, 173, 173);
  }
  .flex-grid  {
    flex-direction: column;
  }
}
h2 {
  background-color:rgb(201, 202, 183);
  padding: 2  0px;
  display: center;
  font-size:30px;
  transform:translateY(200px);
  transition:4.0s;
}