
.Text {
    text-align: center;
    font-size:30px; transition:0.3s;
  focus
    background-color:green; 
    color:black; 
    transform:translateY(-100px);
  hover
    background-color:red; 
    color:black; 
    transform:translateY(-100px);
  
}
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
img {
  width: 100%;
  border: 3px solid powderblue;
  padding: 2  0px;
}
@media only screen and (max-width: 600px) {
  body {
      background-color: rgb(230, 173, 173);
  }
  .flex-grid  {
    flex-direction: column;
  }
}
h2 {
  border: 3px solid powderblue;
  background-color:rgb(201, 202, 183);
  padding: 2  0px;
  display: inline-block;
}